.wins-display {
  display: grid;
  grid: auto auto / 1fr 1fr;
  width: 100%;
  margin-bottom: 0.5rem;

  h2 {
    font-family: $font-title;
    font-size: $font-huge;
    line-height: 1rem;
    transform: translateY(-0.5rem);
    -webkit-transform: translateY(-0.5rem);
    -moz-transform: translateY(-0.5rem);
    -ms-transform: translateY(-0.5rem);
    -o-transform: translateY(-0.5rem);
    color: var(--color-neon-text);
    text-shadow: var(--color-neon-text-shadow);
    display: none;
  }

  :nth-child(2) {
    order: 3;
    grid-column: span 2;
  }

  :last-child {
    justify-self: flex-end;
  }

  &__display-wrapper {
    display: flex;
    align-items: center;
  }

  &__display {
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    border: 0.2rem solid $color-orange;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba($color-black, 0.7);
    position: relative;
    background-color: var(--color-secondary);
    margin-left: -1rem;
    padding: 0.1rem 0.3rem 0.1rem 1.3rem;
    text-align: end;
    min-width: 6rem;
    height: max-content;
    font-weight: 700;

    &--green {
      border-color: $color-green;
    }
  }

  &__tag {
    font-size: $font-small;
    font-weight: 700;
    margin-bottom: 0.2rem;
  }

  &__coin,
  &__spins {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 1.95rem;
    height: 1.95rem;
    position: relative;
    z-index: 1;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba($color-black, 0.7);

    &:after {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      position: absolute;
    }
  }

  &__coin {
    background-color: $color-orange;

    &:after {
      width: 70%;
      height: 70%;
      background-color: darken($color-orange, 5%);
      box-shadow: inset 0.03rem 0.03rem 0.25rem rgba($color-black, 0.5);
      content: '';
    }
  }

  &__spins {
    background-color: $color-green;

    &:after {
      line-height: 2rem;
      font-size: 1.7rem;
      color: $color-white;
      text-align: center;
      content: '\21BA';
      top: -0.1rem;
    }
  }
}

@media only screen and (min-width: $xs) {
  .wins-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    h2 {
      display: block;
    }

    :nth-child(2) {
      order: initial;
    }

    :last-child {
      justify-self: initial;
    }
  }
}
